@import "./constants.scss";

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: $bgColor;
}

#root {
  width: 100%;
}

.full-width {
  width: 100%;
}